@charset "utf-8";
/* CSS Document */

.sec {
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    margin: 10px;
    border-radius: 10px;
}

.poster {
    margin-bottom: .3215rem;
}

.poster-list img {
    width: 100%;
}

.poster-list .poster-txt {
    position: relative;
    overflow: hidden;
    transition: height 0.24s;
}

.poster-list .poster-txt.xg:after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4rem;
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

.poster-btn {
    outline: none;
    display: block;
    width: 75px;
    line-height: 2;
    margin: .1rem auto;
    color: #fff;
    font-size: .28rem;
    text-align: center;
    background: #ff0000;
    border-radius: 30px;
}

.current-menu {
    content: '';
    display: block;
    background: #35B729;
    border-radius: 30px;
    color: #fff;
}